/*
Syntaxe CSS

selector {
    vlastnost-1: hodnota;
    vlastnost-2: hodnota;
    vlastnost-3: hodnota;
    vlastnost-4: hodnota;
    ...
    vlastnost-n: hodnota;
}

*/

body {
    background-color: rgb(135, 206, 250);
}

h1 {
   color: 333;
   font-size: 30px;
   font-family: Tahoma, Helvetica, sans-serif; 
}

.page-wrapper {
    /* max-width: 80%; */
    width:  80%;
    margin: 0 auto; /* Zarovnání na střed */
    background-color: lightyellow;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
}

nav a {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: black;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto; */
    /* grid-template-columns: 4fr 3fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    gap: 15px;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}


/* ========== GALERIE ========== */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery-item {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

figcaption {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}





